# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\推文写作\python实用系列\保留小数点的操作有多神奇\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
